<form action="/api/post/add" method="POST">
    <input type="text" name="title" placeholder="Titre de l'article">
    <select name="type">
        <option value="IMG">Image</option>
        <option value="QUOTE">Quote</option>
        <option value="VID">Vidéo</option>
    </select>
    <textarea name="content"></textarea>
    <button type="submit">Ajouter</button>
</form>
